<!DOCTYPE html>
<html>
<head>
  <title>SicStartupWeekend</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>






		<div id="header">
			<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>



	<div id="headerwrapper">
    <div id="logo">
        <%= image_tag("credit-spring-logo.png") %>
    </div>
    <nav id="menu">
    <ul>
    <li>HOME</li>
    <li>ABOUT</li>
    <li>CONTACT</li>
    </ul>
    </nav>
    </div>
</div>
<div id="body">
	<div id="bodywrapper">
    <div>
    <h1>Connecting challenged borrowers with lenders that want to help.</h1>
    </div>
    <div>
			<%= yield %>
			
    </div>
    </div>	
    <div style="clear:both"></div>
</div>
<div>
<div id="widgets" class="whitebackground">
	<div id="widgetswrapper">
        <div id="widget2" class="widget">
        <h2>Borrowers</h2>
        <p>
        	Credit Spring is a peer-to-peer lending platform that allows the borrower to obtain a rapidly funded short term loan at a great fixed rate.  Not only does the service match-make users with money, it also provides the tools for borrowers to actively improve their FICO credit score and ultimately meet their financial goals.  We operate as a facilitator to anonymously connect the borrower to a pool of investors, allowing for low operational costs and excellent returns to investors.  Most importantly the process is quick, easy, and beneficial to everyone. <br> <br>

					<strong>Apply online today and spring your life forward.</strong>
        </p>
        </div>

    	<div id="widget1" class="widget">
        <h2>Investors</h2>
         <p>
         	Our unique credit scoring model looks directly at the recent and historical payroll data of an applicant to quickly and accurately gauge the risk of your investment.  Investors can choose to select their own specific set of investments, or the investor can choose their own risk tolerance and allow their funds and earnings to reinvest to allow for a greater chance of return.
         </p>
        </div>

    </div>
        <div style="clear:both"></div>
</div>
</div>
<div id="footer">
	<div id="footerwrapper">
    <p>All rights reserved - 2014   |   We are gonna win @CreditSpring #GainGoodCredit</p>
    </div>
    <div style="clear:both"></div>
</div>
</body>
</html>
